/* 
1. **박스 모델**: `display`, `width`, `height`, `margin`, `padding`
2. **텍스트**: `font-size`, `line-height`, `color`, `text-align`
3. **스타일**: `background`, `border`, `box-shadow`, `transition`
4. **기타**: `cursor`, `z-index`, `position` 등
*/

:root {
  /* Layout */
  --max-width: 1276px;

  /* Font Sizes */
  --font-2xl: 26px; /* 가장 큰 텍스트 (배너, 강조 문구 등) */
  --font-xl: 18px; /* 제목용 */
  --font-lg: 16px; /* 본문 기본 */
  --font-md: 14px; /* 카드 내용 */
  --font-sm: 11px; /* 카드 내 태그, 칩 */

  /* color */
  --primary-color: #5865f2;
  --gray-color: #999;
}

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
}
.wrap {
  width: var(--max-width) !important;
}

.main_container {
  height: 100vh;

  /* 임시 개발환경에서 범위 체크용 */
  background-color: #cfcfcf;
}

/* navbar area */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin: 0 auto;
}
button {
  border: none;
}
.logo {
  display: flex;
  align-items: center;
}
.logo > img {
  width: 105px;
  height: auto;
}
.nav_brand {
  font-weight: 700;
  color: #333;
  font-size: 30px;
  cursor: pointer;
  text-decoration: none;
  justify-items: center;
  margin-left: 10px;
}
.nav_buttons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 10px;
}
.button_register {
  color: #fff;
  background-color: #81e1cf;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 22px;
  border-radius: 36px;
  height: 42px;
}
.button_question {
  border: 1px solid #dddddd;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 22px;
  border-radius: 36px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_buttons > i {
  font-size: 20px;
  cursor: pointer;
}
