/* 
1. **박스 모델**: `display`, `width`, `height`, `margin`, `padding`
2. **텍스트**: `font-size`, `line-height`, `color`, `text-align`
3. **스타일**: `background`, `border`, `box-shadow`, `transition`
4. **기타**: `cursor`, `z-index`, `position` 등
*/

/* main area */
a {
  text-decoration: none;
}
/* 이번주 인기글 area */
.popular {
  cursor: pointer;
  flex-direction: column;
}
/* 이번주 인기글_title */
.popular_title {
  display: flex;
  justify-content: center;
  margin: 25px 0px;
  gap: 40px;
}
.popular_title > h2 {
  color: #000;
  font-size: var(--font-2xl);
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

/* card area */
.contents {
  display: flex;
  justify-content: center;
}
.cards {
  gap: 20px;
  justify-content: center;
}
.card {
  color: #000;
  width: 340px;
  border-radius: 50px;
  border: 2px solid var(--primary-color);
  background: #fff;
}
.box_button {
  display: flex;
  justify-content: space-between;
}
.box_alert {
  padding: 2px 8px;
  height: 20px;
  color: #ea726f;
  font-size: 10px;
  letter-spacing: -0.04em;
  border-radius: 20px;
  border: 1px solid #ea726f;
  font-weight: 600;
  line-height: normal;
}
.box_category {
  border-radius: 20px;
  padding: 4px 8px;
  height: 20px;
  background: #efefef;
  color: #656565;
  font-weight: 900;
  font-size: 12px;
  align-content: center;
  line-height: normal;
  letter-spacing: -0.04em;
}
.box_contents {
  height: 40px;
  margin: 0;
  color: #000;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -0.7px;
  margin-top: 10px;
}
.d_day {
  color: #999;
  margin: 20px 0 0 0;
  font-size: 14px;
  font-weight: 600;
}
.box_count {
  color: #4e4e4e;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-align: end;
}

/* main_nav area */
.main_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin: 0 auto;
}
.main_contents {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 700;
  font-size: var(--font-2xl);
  cursor: pointer;
}
.nav-link {
  padding-left: 20px;
  color: black;
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
}
