<!-- footer 수정사항 layout 내 footer 수정 후 복붙으로 수정 -->
<footer class="footer_container py-4 mt-auto">
  <div class="container">
    <div class="row footer_first_row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <a href="#" class="text-decoration-none">문의하기</a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <a href="#" class="text-decoration-none">이용약관</a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <a href="#" class="text-decoration-none">개인정보처리방침</a>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12">
          <a href="#" class="text-decoration-none">회사소개</a>
        </div>
    </div>
    <div class="footer_text">
      <a href="/index.html" class="footer_nav_brand">COALMO</a>
      <p class="footer_text">
        코딩알려주는 누나<br />
        HTML & CSS 스터디 4기 6조<br />
        심현정 조상옥 백예인 김이진
      </p>
      <div class="text-center pt-3 border-top border-light mt-3">
        © 2025 COALMO Co., Ltd. All rights reserved.
      </div>
    </div>
  </div>
</footer>